<div class="tudo">
    <h1>Coach em Desenvolvimento Pessoal</h1>
    <hr>
    <div >
    <img class="banner" src="../../../../assets/coach.jpg" alt="">
    </div>
    
    
        
        <div class="conteudo">
        <h2>O que é Coaching?</h2>
        <p>Coaching é uma metodologia focada no desenvolvimento de competências e habilidades comportamentais,
             que faz uso de técnicas e ferramentas validadas cientificamente para que o indivíduo maximize sua performance e atinja objetivos. </p>
        <br>
        <h2>Como funciona?</h2>
        <p>O Coaching Pessoal funciona através de uma série de ferramentas e práticas, todas elas contando com embasamento científico.
            São técnicas que auxiliam o coach a identificar os problemas que bloqueiam o desenvolvimento pessoal do indivíduo e, a partir desse ponto, de forma clara e objetiva, 
            é colocado em prática todo o processo de amadurecimento necessário para o alcance de qualquer meta desejada.</p>
        <br>
        <h2>Benefícios:</h2>
        <ul>
            <li><mat-icon class="check">done</mat-icon>Aperfeiçoar o poder da comunicação e da relação interpessoal</li>
            <li><mat-icon class="check">done</mat-icon>Aprender a controlar os impulsos negativos que geram estresse e cansaço mental</li>
            <li><mat-icon class="check">done</mat-icon>Melhorar a qualidade de vida</li>
            <li><mat-icon class="check">done</mat-icon>Conhecer e desenvolver habilidades que podem apoiar a conquista pelo sucesso</li>
        </ul>
        <br>
        <h2>Agende seu horário!</h2>
        <div id="zap">
            <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt=""></a>
            <a id="redes" href="https://www.facebook.com/silbayne.louise" target="_blank"><img clas="svg" src="../../../../assets/facebook-seeklogo.com.svg" alt=""></a>
            <a id="redes" href="https://www.instagram.com/_silbaynesilva/" target="_blank"><img clas="svg" src="../../../../assets/insta-logo-pink.svg" alt=""></a>
            <br>
            </div>
            <div>
                <button mat-button (click)="cancel()">
                    <mat-icon class="back">skip_previous</mat-icon><span>Voltar</span>
                </button>
            </div>
    </div>
    </div>