 
      
          <mat-toolbar  class="header" color="primary">
            <mat-toolbar-row>
              
                <button mat-button (click)="sidenav.toggle()" class="btn">
                 <mat-icon  class="btn" *ngIf="!sidenav.opened" >menu</mat-icon>
                 <mat-icon  class="btn" *ngIf="sidenav.opened" >close</mat-icon>
              </button>

              <img id ="headerLogo" src="../assets/Lotus-Flower.svg" alt="">
              <a routerLink="/"><span class="title">Benedicta's</span></a>
              <a routerLink="/"><span class="subtitle">Lembrancinhas criativas</span></a>
              <a routerLink="/"><span></span></a>
              <a routerLink="/"><span></span></a>
            </mat-toolbar-row>
          </mat-toolbar>
        
        
          <mat-sidenav-container>
            <mat-sidenav color="primary" #sidenav mode="over">
              <mat-nav-list>
                <a mat-list-item routerLink="/">	<mat-icon>chevron_right</mat-icon>Home</a>
                <a mat-list-item routerLink="/artesanatos/escapularios"><mat-icon>chevron_right</mat-icon>Escapulários</a>
                <a mat-list-item routerLink="/artesanatos/japamalas">	<mat-icon>chevron_right</mat-icon>Japamalas</a>
                <a mat-list-item routerLink="/artesanatos/pingentes">	<mat-icon>chevron_right</mat-icon>Pingentes</a>
                <a mat-list-item routerLink="/terapias/bioalinhamento">	<mat-icon>chevron_right</mat-icon>Bioalinhamento</a>
                <a mat-list-item routerLink="/terapias/coaching">	<mat-icon>chevron_right</mat-icon>Coaching</a>
                <a mat-list-item routerLink="/terapias/constelacao">	<mat-icon>chevron_right</mat-icon>Constelação</a>
                <a mat-list-item routerLink="/terapias/mentoria">	<mat-icon>chevron_right</mat-icon>Mentoria</a>
                <a mat-list-item routerLink="/terapias/reiki">	<mat-icon>chevron_right</mat-icon>Reiki</a>
                <span class="easter-egg"><mat-icon>child_care</mat-icon>2022 Rafa S.S.</span>
              </mat-nav-list>
            </mat-sidenav>
            
            <mat-sidenav-content>
                
                  <router-outlet></router-outlet>
                    
            </mat-sidenav-content>
           
          </mat-sidenav-container>
          

    
      


